@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

h1 {
  padding: .5em 1em;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  color: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 2em 10%;
}
.subtitle{
  text-align: center;
  margin: 2rem 2.5rem 0 2.5rem;
}
.item {
  width: 30em;
  background-color: white;
  box-sizing: border-box;
  padding: 1.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 1em;
  margin-bottom: .2em;
}
/* ---------FORULARIO --------------*/
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 350px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form h2{
  text-align: center;
}
form div + div {
    margin-top: 1em;
    text-align: center;
}
input {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte.*/
    font: 1.2em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
    border-radius: 5px;

    padding-left: 0.5rem;
}
input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
    display: inline-block;
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    border-radius: 10px;
    padding: 0.5rem;
}

/* ------------------------------ Estilos para o tema escuro (Dark-Mode) ----------------------------------------------- */

/* Os seguintes estilos são os que usaremos para aplicar o modo escuro, 
você terá que modificar os seletores a fim de poder resolver o exercício. */

/* A cor de fundo  */
.dark{
  background-color: rgb(39, 39, 39);
}

/* Modificações no titulo 'A família dos felinos' */
.title-dark{ 
  background-color: rgb(19, 19, 19);
  color: rgb(170, 170, 170);
  border-color: black;
}


/* Modificações nos items */
.item-dark{
  background-color: rgb(19, 19, 19);
  border-color: black;
}

/* Modificações nos textos dos itens e cabeçalhos dos itens */
.content-text-dark{
  color: rgb(230, 230, 230);
}